
body.page {
	position: relative;
    width: 15.8cm;
    min-height: 21cm;
    padding: 1cm 2cm 2cm;
    margin: 0.5cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
}

.page-breaker {
	border: 0;
 	padding-top: 30px;
	padding-bottom: 50px;
}

.page-breaker::after {
	content: ' ';
	position: absolute;
	height: 20px;

	left: -3px;
	right: -3px;
	margin: 0 auto;
	border: 1px solid gray;
	background: white;
}
